
<section class="about-commitment">
  <div class="page-inner">
    <div class="page-contents">
      <div class="about-com__titleArea">
        <h2 class="about-message"><span class="about-message__span">{{ section.settings.title-1 }}</span>{{ section.settings.title-2 }}</h2>
      </div>
      <div class="about-com__contents">
        <div class="about-com__content">
          <div class="about-com__left">
            <div class="about-com__imgArea">
              {% for block in section.blocks %}
                {% if block.settings.image %}
                  <img src="{{ block.settings.image | image_url: width: 576 }}" class="about-com__img" alt="{{ block.settings.image.alt | default: '画像1' | escape }}">
                {% else %}
                  <img src="{{ 'no-image.png' | asset_url }}" class="top-fv__img" alt="代替画像">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="about-com__right">
            <div class="about-com__rightArea">
              {% for block in section.blocks %}
                <div class="about-com__ttlArea">
                  <div class="about-com__number">01</div>
                  <h3 class="about-com__title">{{ block.settings.theme-1 }}</h3>
                </div>
                <div class="about-com__textArea">
                  <div class="about-message__text">{{ block.settings.text-1 }}</div>
                </div>
                {% if block.settings.button != blank %}
                  <div class="about-com__btnArea">
                    <a href="{{ block.settings.button_link }}" class="c-btn__about">{{ block.settings.button }}</a>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="about-com__content">
          <div class="about-com__left">
            <div class="about-com__imgArea">
              {% for block in section.blocks %}
                {% if block.settings.image-2 %}
                  <img src="{{ block.settings.image-2 | image_url: width: 576 }}" class="about-com__img" alt="{{ block.settings.image-2.alt | default: '画像2' | escape }}">
                {% else %}
                  <img src="{{ 'no-image.png' | asset_url }}" class="top-fv__img" alt="代替画像">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="about-com__right">
            <div class="about-com__rightArea">
              {% for block in section.blocks %}
                <div class="about-com__ttlArea">
                  <div class="about-com__number">02</div>
                  <h3 class="about-com__title">{{ block.settings.theme-2 }}</h3>
                </div>
                <div class="about-com__textArea">
                  <div class="about-message__text">{{ block.settings.text-2 }}</div>
                </div>
                {% if block.settings.button-2 != blank %}
                  <div class="about-com__btnArea">
                    <a href="{{ block.settings.button_link_2 }}" class="c-btn">{{ block.settings.button-2 }}</a>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
         <div class="about-com__content">
          <div class="about-com__left">
            <div class="about-com__imgArea">
              {% for block in section.blocks %}
                {% if block.settings.image-3 %}
                  <img src="{{ block.settings.image-3 | image_url: width: 576 }}" class="about-com__img" alt="{{ block.settings.image-3.alt | default: '画像3' | escape }}">
                {% else %}
                  <img src="{{ 'no-image.png' | asset_url }}" class="top-fv__img" alt="代替画像">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="about-com__right">
            <div class="about-com__rightArea">
              {% for block in section.blocks %}
                <div class="about-com__ttlArea">
                  <div class="about-com__number">03</div>
                  <h3 class="about-com__title">{{ block.settings.theme-3 }}</h3>
                </div>
                <div class="about-com__textArea">
                  <div class="about-message__text">{{ block.settings.text-3 }}</div>
                </div>
                {% if block.settings.button-3 != blank %}
                  <div class="about-com__btnArea">
                    <a href="{{ block.settings.button_link_3 }}" class="c-btn">{{ block.settings.button-3 }}</a>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "aboutコミット",
  "tag": "section",
  "class": "about__com",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id":"title-1",
      "label": "強調タイトル",
      "default": "B&BFRENCH　3"
    },
    {
      "type": "text",
      "id":"title-2",
      "label": "後半タイトル",
      "default": "つのこだわり"
    },
  ],
  "blocks": [
    {
      "type": "item",
      "name": "アイテム",
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像1"
        },
        {
        "type": "text",
        "id":"theme-1",
        "label": "テーマ1",
        "default": "遊びへのこだわり"
        },
        {
          "type": "textarea",
          "id":"text-1",
          "label": "テキスト1",
          "default": "文章が入ります"
        },
        {
          "type": "text",
          "id":"button",
          "label": "ボタンのテキスト",
          "default": "詳しく見る"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "ボタン1のリンク先"
        },
        {
          "type": "image_picker",
          "id": "image-2",
          "label": "画像-2"
        },
        {
          "type": "text",
          "id":"theme-2",
          "label": "テーマ2",
          "default": "品質のこだわり"
        },
        {
          "type": "textarea",
          "id":"text-2",
          "label": "テキスト2",
          "default": "文章が入ります"
        },
        {
          "type": "text",
          "id":"button-2",
          "label": "ボタン2のテキスト",
          "default": "詳しく見る"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "ボタン2のリンク先"
        },
        {
          "type": "image_picker",
          "id": "image-3",
          "label": "画像-3"
        },
        {
          "type": "text",
          "id":"theme-3",
          "label": "テーマ3",
          "default": "フードへのこだわり"
        },
        {
          "type": "textarea",
          "id":"text-3",
          "label": "テキスト3",
          "default": "文章が入ります"
        },
        {
          "type": "text",
          "id":"button-3",
          "label": "ボタン3のテキスト",
          "default": "詳しく見る"
        },
        {
          "type": "url",
          "id": "button_link_3",
          "label": "ボタン3のリンク先"
        }
      ]
    }
  ], "presets": [
    { "name":"アバウトコミット",
    "category": "ページ"
    }
  ]
}
{% endschema %}
