{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* ボタン中央寄せ */
  .top-fv__btnArea {
    text-align: center;
    margin-top: 60px;
  }
{%- endstyle -%}

{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">
    <h1 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" style="font-size: 40px;">
      {{ blog.title | escape }}
    </h1>

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div
          class="blog-articles__article article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}

    <!-- ボタン -->
    {% if section.settings.button != blank and section.settings.button_link != blank %}
      <div class="top-fv__btnArea">
        <a href="{{ section.settings.button_link }}" class="c-btn">
          {{ section.settings.button }}
        </a>
      </div>
    {% endif %}

  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "メインブログセクション",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        { "value": "grid", "label": "グリッド" },
        { "value": "collage", "label": "コラージュ" }
      ],
      "default": "collage",
      "label": "レイアウト"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "画像を表示する"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        { "value": "adapt", "label": "自動調整" },
        { "value": "small", "label": "小" },
        { "value": "medium", "label": "中" },
        { "value": "large", "label": "大" }
      ],
      "default": "medium",
      "label": "画像の高さ"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "日付を表示する"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "著者を表示する"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 36,
      "label": "上の余白"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 36,
      "label": "下の余白"
    },
    {
      "type": "text",
      "id": "button",
      "label": "ボタンのテキスト"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "ボタンリンク先"
    }
  ]
}
{% endschema %}
