<section class="top-sns">
  <div class="page-inner">
    <div class="page-contents">
      <div class="top-sns__titleArea">
        <h2 class="section-title">{{ section.settings.title }}</h2>
        <h3 class="section-subTitle">{{ section.settings.sub_title }}</h3>
      </div>
      <ul class="top-sns__items">
        {% for block in section.blocks %}
          <li class="top-sns__item" {{ block.shopify_attributes }}>
            <a href="{{ block.settings.link }}" target="_blank" rel="noopener">
              {% if block.settings.image %}
                {{ block.settings.image | image_url: width: 282 | image_tag: class: 'sns-img', alt: 'Instagram image' }}
              {% else %}
                <div class="sns-img">No image</div>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Instagramギャラリー",
  "tag": "section",
  "class": "top-sns",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "タイトル",
      "default": "Instagram"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "サブタイトル",
      "default": "インスタグラム"
    }
  ],
  "blocks": [
    {
      "type": "image_link",
      "name": "Instagram画像リンク",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        },
        {
          "type": "url",
          "id": "link",
          "label": "InstagramのURL（投稿 or プロフィール）",
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Instagramギャラリー",
    }
  ]
}
{% endschema %}
