{% assign collection = section.settings.recommend %}

<section class="top-recommend">
  <div class="page-inner">
    <div class="page-contents">
      <div class="top-rec__titleArea">
        <h2 class="section-title">{{ section.settings.title }}</h2>
        <h3 class="section-subTitle">​{{ section.settings.subTitle }}</h3>
      </div>
      <ul class="top-rec__items">
        {% for product in collection.products limit: 8 %}
          <li class="top-rec__item">
            <a href="{{ product.url }}" class="top-rec__link">
              <div class="option-add__imgWrap">
                <img src="{{ product | image_url: width: 282 }}" alt="product" class="top-rec__img">

                {% for tag in product.tags %}
                  {% if tag contains "sale_" %}
                    <div class="option-add__tag">
                      <p><span class="c-btn__label">{{ tag | split: "_" | last }}</span></p>
                    </div>
                  {% elsif tag contains "out_" %}
                    <div class="option-add__tag">
                      <p><span class="c-btn__labelSo">{{ tag | split:"_" | last }}</span></p>
                    </div>
                  {% endif %}
                {% endfor %}

              </div>
              <div class="top-rec__textArea">
                <h3 class="product-name">{{ product.title }}</h3>
                <div class="product-color">  {{ product.metafields.custom.color | metafield_text }}</div>
                <div class="product-price"><span class="product-emphasis">{{ product.price | money }}</span>円（税込）</div>
              </div>
                <div class="product-tag__discountArea">
                  {% for tag in product.tags %}
                    {% if tag contains "info_" %}
                      <div class="product-tag__discountTag">
                        <p><span class="c-btn__label">{{ tag | split: "_" | last }}</span></p>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="top-rec__btnArea">
        {% if section.settings.button != blank%}
          <a href="{{ collection.url }}" class="c-btn">{{ section.settings.button }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "おすすめ",
  "tag": "section",
  "class": "top-rec",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id":"recommend",
      "label": "おすすめ商品"
    },
    {
      "type": "text",
      "id":"title",
      "label": "タイトル"
    },
    {
      "type": "text",
      "id":"subTitle",
      "label": "サブタイトル"
    },
    {
      "type": "text",
      "id":"button",
      "label": "ボタンのテキスト"
    },
  ],
  "presets": [
    {
      "name":"お勧め"
    }
  ]
}
{% endschema %}
