
<section class="top-fv">
  {% if section.settings.image or section.settings.sp_image %}
    <div class="top-image">
      <picture>
        {% if section.settings.sp_image %}
          <source srcset="{{ section.settings.sp_image | image_url: width:800 }} " media="( max-width: 767px )">
        {% endif  %}
        {% if section.settings.image %}
          <img
            class="top-img"
            src="{{ section.settings.image | image_url: width: 2000 }}"
            alt="{{ section.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}">
        {% endif  %}
      </picture>
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "トップFV画像",
  "tag": "section",
  "class": "top-image",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "PC用画像"
    },
    {
      "type": "image_picker",
      "id": "sp_image",
      "label": "スマホ用画像"
    }
  ],
  "presets": [
    {
      "name": "トップFV画像"
    }
  ]
}
{% endschema %}
